body {
	font-family: "Comic Sans MS", Arial;
}

.bottomtext {
	color: gray;
	text-align: center;
	font-size:5vw;
}

a:link {
	color: blue;
}
a:visited {
	color: purple;
}
a:hover {
	color: hotpink;
}
a:active {
	color: violet;
}
