body {
	font-family: Arial Black;
}

.bottomtext {
	color: gray;
	text-align: center;
}

.clickicon {
	background-color: black;
	color: white;
	text-align: center;
	height: 20%;
	width: 20%;
}
	
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: yellow;
}
a:active {
	color: orange;
}
